db.sqlite3
.gitignore

/players/__pycache__
/players/migrations/__pycache__

.idea/ANEProject.iml

/pages/__pycache__
/pages/migrations/__pycache__

/ANEProject/__pycache__

package-lock.json
package.json
node_modules

/static/styles.scss
