.gitignore
db.sqlite3
/core/__pycache__
/core/migrations/__pycache__

.idea/ANEProject.iml

/pages/__pycache__
/pages/migrations/__pycache__

/ANEProject/__pycache__

package-lock.json
package.json
node_modules

/static/styles.scss
/core/migrations/
