<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/accounts/battlenet/login/?process=login">BattleNet Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'roster' %}">Roster</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'calendar' %}">Calendar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'events' %}">Events</a>
    </li>
</ul>