{% load account %}
{% load static %}
<div class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-content-container">
        <div class="navbar-ane">
            <div class="navbar-logo">
                <a href="{% url 'home' %}">
                    <img src="{% static 'images/ANELogo.png' %}" alt="Logo">
                </a>
            </div>
        </div>
        <div class="navbar-links">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="navbar-btn ane-btn rebtn" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-btn ane-btn rebtn" href="{% url 'boss-wishes' %}">Wishes</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-btn ane-btn rebtn" href="{% url 'roster' %}">Roster</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-btn ane-btn rebtn" href="{% url 'calendar' %}">Calendar</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-btn ane-btn rebtn" href="{% url 'events' %}">Events</a>
                </li>
                <li class="responsive-user-btn">
                    {% if request.user.is_authenticated %}
                    <a class="navbar-btn navbar-user-menu-btn ane-btn" href="{% url 'logout-user-button' %}">Logout</a>
                    {% else %}
                    <a class="navbar-btn navbar-user-menu-btn ane-btn" href="{% url 'login-user-button' %}">Login</a>
                    {% endif %}
                </li>
            </ul>
        </div>
        <div class="navbar-user">
            {% if request.user.is_authenticated %}
            <div class="navbar-dropdown">
                <div class="nav-item">
                    <button class="navbar-btn ane-btn px-3" style="width:100%">{{ social_user }}</button>
                </div>
                <div class="navbar-dropdown-content">
                    <a href="{% url 'sync-bnet' %}" class="rebtn">Re-Sync Bnet Data</a>
                    <a href="{% url 'boss-wishes' %}" class="rebtn">Wishes</a>
                    {% if is_officer == True %}
                    {% if user.is_staff %}
                    <a href="{% url 'toggle-staff' %}" class="navbar-btn toggle-officer-btn active rebtn">Disable Officer</a>
                    {% else %}
                    <a href="{% url 'toggle-staff' %}" class="navbar-btn toggle-officer-btn rebtn">Enable Officer</a>
                    {% endif %}
                    {% endif %}
                    {% if user.is_staff %}
                    <a href="/admin" class="rebtn">Admin Page</a>
                    {% endif %}
                    <a href="{% url 'logout-user-button' %}" class="rebtn">Logout</a>
                </div>
            </div>
            {% else %}
            <div class="nav-item">
                <a class="navbar-btn navbar-user-menu-btn ane-btn rebtn" href="{% url 'login-user-button' %}">Login</a>    
            </div>
            {% endif %}
        </div>
    </div>

    <!-- Hamburger menu for smaller screens - Screenwidth < 600px -->
    <div class="navbar-hamburger-menu">
        <div class="hamburger-menu-toggle-button">
            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
        </div>
        <div class="navbar-hamburger-menu-content">
            <ul class="navbar-hamburger-links">
                {% if request.user.is_authenticated %}
                <li class="nav-item" style="text-align:center;width:90%;">
                    <span style="font-size:2em;">{{social_user}}</span>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="navbar-btn ane-btn rebtn" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-btn ane-btn rebtn" href="{% url 'boss-wishes' %}">Wishes</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-btn ane-btn rebtn" href="{% url 'roster' %}">Roster</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-btn ane-btn rebtn" href="{% url 'calendar' %}">Calendar</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-btn ane-btn rebtn" href="{% url 'events' %}">Events</a>
                </li>
                {% if is_officer == True %}
                <li class="nav-item navbar-toggle-officer-view">
                    {% if user.is_staff %}
                    <a href="{% url 'toggle-staff' %}" class="navbar-btn toggle-officer-btn ane-btn active rebtn">Disable Officer</a>
                    {% else %}
                    <a href="{% url 'toggle-staff' %}" class="navbar-btn toggle-officer-btn ane-btn rebtn">Enable Officer</a>
                    {% endif %}
                </li>
                {% endif %}
                <li class="nav-item">
                    {% if request.user.is_authenticated %}
                    <a class="navbar-btn ane-btn rebtn" href="{% url 'logout-user-button' %}">Logout</a>
                    {% else %}
                    <a class="navbar-btn ane-btn rebtn" href="{% url 'login-user-button' %}">Login</a>
                    {% endif %}
                </li>
            </ul>
        </div>
        <div class="navbar-hamburger-close"></div>
    </div>
</div>
</div>