@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  /* #353840 */
  --main-bg-color: #353840;
  --bg-hover-color: #343A40;
  --bg-active-color: #6E7276;
  --bg-disabled-color: #22262a;
  --main-text-color: #ddd;
  --text-disabled-color: #aaa;
  --white-color: #fff; }

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color); }

/* .list-group {
    width: max(400px, 30%); 

} */
.list-group-item {
  background-color: var(--main-text-color);
  color: var(--white-color); }
  .list-group-item:hover {
    background-color: var(--bg-hover-color);
    color: var(--white-color); }
  .list-group-item.active {
    background-color: var(--bg-active-color);
    border-color: var(--bg-active-color); }

.material-icons {
  margin-right: 1em;
  color: var(--bg-active-color);
  font-size: 10px; }

.navbar {
  display: block;
  width: 100%; }
  .navbar .navbar-content-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center; }
    .navbar .navbar-content-container .navbar-btn {
      text-decoration: none;
      background-color: var(--bg-hover-color);
      color: var(--white-color);
      padding: 1rem 1.5rem;
      border-radius: 0.25rem; }
      .navbar .navbar-content-container .navbar-btn:hover {
        color: var(--white-color);
        background-color: var(--bg-active-color); }
      .navbar .navbar-content-container .navbar-btn.active {
        color: var(--white-color);
        background-color: var(--bg-active-color); }
    .navbar .navbar-content-container .navbar-ane {
      width: 10%;
      color: var(--white-color); }
      .navbar .navbar-content-container .navbar-ane .navbar-logo {
        margin-left: 1em; }
        .navbar .navbar-content-container .navbar-ane .navbar-logo img {
          height: 52px;
          width: 52px; }
    .navbar .navbar-content-container .navbar-links {
      min-width: 370px;
      max-width: 500px;
      width: 80%; }
      .navbar .navbar-content-container .navbar-links .navbar-nav {
        height: 3rem;
        justify-content: space-between;
        align-content: center;
        align-items: center; }
        .navbar .navbar-content-container .navbar-links .navbar-nav .nav-link {
          color: var(--white-color); }
        .navbar .navbar-content-container .navbar-links .navbar-nav .nav-item {
          color: var(--white-color);
          text-align: center; }
        .navbar .navbar-content-container .navbar-links .navbar-nav .responsive-user-btn {
          display: none; }
    .navbar .navbar-content-container .navbar-user {
      margin-right: 1em;
      width: 10%;
      text-align: right;
      color: var(--white-color); }
      .navbar .navbar-content-container .navbar-user .navbar-user-menu {
        display: flex;
        justify-content: flex-end;
        align-content: center;
        align-items: center; }
        .navbar .navbar-content-container .navbar-user .navbar-user-menu .navbar-user-menu-btn {
          margin-left: 0.5rem;
          text-align: center; }
    @media screen and (max-width: 60em) {
      .navbar .navbar-content-container .navbar-user {
        margin-right: 0px !important; }
        .navbar .navbar-content-container .navbar-user .navbar-user-menu .navbar-user-menu-btn {
          width: auto;
          height: auto;
          margin: 0px; }
        .navbar .navbar-content-container .navbar-user .navbar-user-menu span {
          display: none; } }
  @media screen and (max-width: 46em) {
    .navbar .navbar-ane {
      display: none; }
    .navbar .navbar-user {
      display: none; }
    .navbar .responsive-user-btn {
      display: block !important; }
    .navbar .navbar-content-container {
      justify-content: center; }
    .navbar .navbar-links {
      max-width: 100% !important;
      width: 100% !important; } }

.calendar-grid-container {
  margin: auto;
  max-width: 950px;
  width: 90%;
  height: 70vh;
  max-height: 450px;
  /* calendar-grid-container */ }
  .calendar-grid-container h1 {
    margin: 1rem 0; }
  .calendar-grid-container .calendar-grid {
    width: 100%;
    height: 100%;
    display: grid;
    row-gap: 5%;
    column-gap: 1%;
    /* grid-template-columns: repeat(7, minmax(120px, 1fr)); */
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 10% repeat(3, 1fr); }
    .calendar-grid-container .calendar-grid .calendar-grid-item-header {
      text-align: center;
      border-bottom: var(--main-text-color) 1px solid; }
      @media screen and (max-height: 350px) {
        .calendar-grid-container .calendar-grid .calendar-grid-item-header {
          border-bottom: none; } }
    .calendar-grid-container .calendar-grid .calendar-grid-item {
      height: 100%;
      width: 100%;
      font-size: 1rem;
      background-color: var(--bg-hover-color);
      color: var(--main-text-color);
      border: var(--main-text-color) 2px solid;
      border-radius: 0.25rem;
      transition: all 150ms ease-in;
      transition-delay: 100ms; }
      .calendar-grid-container .calendar-grid .calendar-grid-item .calendar-grid-date {
        margin-left: 5px; }
      .calendar-grid-container .calendar-grid .calendar-grid-item:hover {
        transform: scale(1.1, 1.1);
        /*                 background-color: var(--main-text-color);
                color: var(--white-color); */ }
      .calendar-grid-container .calendar-grid .calendar-grid-item.disabled {
        border-color: var(--bg-active-color);
        pointer-events: none;
        color: var(--text-disabled-color); }
      .calendar-grid-container .calendar-grid .calendar-grid-item.active {
        border: #0d6efd 2px solid; }
        .calendar-grid-container .calendar-grid .calendar-grid-item.active .calendar-grid-date {
          color: #0d6efd; }
  .calendar-grid-container .calendar-grid-item-content {
    width: 90%;
    margin: auto;
    text-align: center; }
    .calendar-grid-container .calendar-grid-item-content .calendar-grid-event-btn {
      display: none; }
    @media screen and (min-width: 960px) and (min-height: 350px) {
      .calendar-grid-container .calendar-grid-item-content .calendar-grid-event-btn {
        cursor: pointer;
        text-decoration: none;
        color: var(--main-text-color);
        display: block;
        border-radius: 0.25rem;
        padding: 5% 0;
        color: var(--bg-disabled-color); }
      .calendar-grid-container .calendar-grid-item-content .calendar-grid-event-btn.selected {
        background-color: #28c995; }
      .calendar-grid-container .calendar-grid-item-content .calendar-grid-event-btn.benched {
        background-color: #ffc107; }
      .calendar-grid-container .calendar-grid-item-content .calendar-grid-event-btn.absent {
        background-color: #c9283e; } }
  @media screen and (max-width: 600px) {
    .calendar-grid-container {
      max-height: 370px; } }
  @media screen and (max-width: 420px) {
    .calendar-grid-container {
      max-height: 320px; } }
