<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% block content %}
    
    <div class="calendar-grid-container">
        <div class="page-header">
            <span class="material-icons" style="vertical-align:-5px;">event</span>
            <span class="page-header-text">Calendar</span>
        </div>
        <div class="calendar-grid">
            <div class="calendar-grid-item-header">Wed</div>
            <div class="calendar-grid-item-header">Thurs</div>
            <div class="calendar-grid-item-header">Fri</div>
            <div class="calendar-grid-item-header">Sat</div>
            <div class="calendar-grid-item-header">Sun</div>
            <div class="calendar-grid-item-header">Mon</div>
            <div class="calendar-grid-item-header">Tues</div>
        {{ cal|safe }}
        </div>
    </div>
{% endblock %}
</body>
</html>