<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}

<head>
    <meta charset="UTF-8">
    <title>Events Details</title>
</head>

<body>
    {% block content %}
    {% load static %}
    <!-- Modal -->
    <div class="input-modal" id="event-view-template-modal">
        <div class="input-modal-container">
            <div class="input-modal-header">
                <span>Select Template To Load</span>
            </div>

            <select class="input-modal-dropdown" id="event-view-template-modal-dropdown">
            </select>
            <div class="input-modal-action-btns">
                <span class="input-modal-btn close-btn" id="template-modal-close">Cancel</span>
                <span class="input-modal-btn delete-btn" id="template-modal-delete">Delete Selected</span>
                <span class="input-modal-btn submit-btn" id="template-modal-load">Load</span>
            </div>
        </div>
    </div>
    <div class="input-modal" id="events-late-modal">
        <div class="input-modal-container">
            <div class="input-modal-header">
                <span id="input-modal-header-span">Report Late for <span id="input-modal-header-date">{{upcoming_event.date}}</span></span>
            </div>
    
            <select class="input-modal-dropdown" id="events-modal-mins-late-dropdown">
                <option value="15m" selected="selected">15min</option>
                <option value="30m">30m</option>
                <option value="45m">45m</option>
                <option value="1h">1h</option>
                <option value="1h15m">1h15m</option>
                <option value="1h30m">1h30m</option>
                <option value="After Break">After Break</option>
            </select>
            <div class="input-modal-action-btns">
                <span class="input-modal-btn close-btn" id="late-modal-close">Cancel</span>
                <span class="input-modal-btn delete-btn" id="late-modal-delete">Delete</span>
                <span class="input-modal-btn submit-btn" id="late-modal-submit">Submit</span>
            </div>
        </div>
    </div>
    <div class="event-view-raid-links previous-raid">
        <a href="{% url 'events-details' previous_raid %}" data-toggle="tooltip" data-placement="right" title="Previous Raid">
            <span class="material-icons">
                arrow_back_ios
            </span>
        </a>
    </div>
    <div class="event-view-raid-links next-raid">
        <a href="{% url 'events-details' next_raid %}" data-toggle="tooltip" data-placement="left" title="Next Raid">
            <span class="material-icons">
                arrow_forward_ios
            </span>
        </a>
    </div>
    <div class="event-view-container">
        <div class="event-view-boss-container">
            <div class="event-view-boss-list">
                <div class="close-bosslist-overlay" style="display:none;">
                    <span class="material-icons">
                        close
                    </span>
                </div>
                <div class="mt-3 boss-list-header" style="padding-bottom:16px;">
                    <span style="font-size:1.5em;">Bosses</span>
                </div>
            </div>
            <div class="boss-detail-container">
                <div class="event-view-info-header">
                    <div class="event-view-header-left-div">
                        <div class="event-view-header-date">
                            <span class="event-view-name" style="font-size:1.2em;">{{ event.name }}</span>
                            <span class="event-view-date text-secondary" style="font-size:1em;">{{ event.date }}</span>
                        </div>
                    </div>
                    <div class="event-view-headercenter">
                        <div class="event-view-header-bossname">
                            Event Summary
                        </div>
                        <div class="event-view-header-bossname-dropdown ane-btn">
                            Switch Boss
                        </div>
                    </div>
                    
                    <div class="event-view-header-buttons">
                        {% if is_past_event%}
                        {% else %}
                        {% if user_is_absent %}
                        <div class="event-view-attend">
                            <a onclick="attend_raid(this)" class="event-view-attendance-btn ane-btn header-btn" id="{{event}}">Attend</a>
                        </div>
                        {% else %}
                        <div class="event-view-decline">
                            <a onclick="confirm_decline_raid(this)" class="event-view-attendance-btn ane-btn header-btn" id="{{event}}"><span class="material-icons">thumb_down</span>Decline</a>
                        </div>
                        <div class="event-view-late events_modal_open_btn" id="{{event}}">
                            <a class="ane-btn header-btn"><span class="material-icons">directions_run</span>Late</a>
                        </div>
                        {% endif %}
                        {% endif %}
                        <div class="event-view-summary-btn" id="-1">
                            <a class="ane-btn header-btn ane-btn-info">Event Summary</a>
                        </div>
                    </div>
                </div>
                <div class="event-view-attendance-status d-flex justify-content-center mt-2">
                {% if is_past_event%}
                    <span>This Event has already <span style="color:#0d6dfd;">Passed</span></span>
                {% elif user_is_absent %}
                    <span>You are <span class="text-danger">Absent</span> from this event</span>
                {% elif user_is_late %}
                    <span>You are marked <span class="text-warning">{{user_minutes_late}}</span> late for this event</span>
                {% endif %}
                </div>
                <div class="event-view-summary">
                    {% if user.is_staff %}
                    <div class="officer-summary-buttons d-flex align-items-center justify-content-center mb-3">
                        <div class="officer-player-summary ane-btn p-2 mx-1">
                            Player Summary
                        </div>
                        <div class="officer-extra-information ane-btn p-2 mx-1">
                            Officer Options
                        </div>
                        <div class="officer-vault-info ane-btn p-2 mx-1">
                            The Great Vault
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="event-view-boss-info">
                    <div class="event-view-buff-info">
                    </div>
                    <div class="event-view-selected-group">
                        <div class="event-view-published-information d-flex flex-column pb-2"></div>
                        <div class="event-view-selected-roster">
                            {% if user.is_staff %}
                                <span class="event-view-selected-roster-totalcount">Total: </span>
                            {% endif %}
                            <div class="event-view-selected-roster-tank" id="tank">
                                <div class="event-view-selected-roster-header">
                                    <img src="{% static 'images/roleIcons/tank.png' %}" alt="Tank Icon" class="event-view-role-icon">
                                    <span>Tank</span>
                                    <span class="event-view-selected-roster-tankcount"></span>
                                </div>
                            </div>
                            <div class="event-view-selected-roster-healer" id="healer">
                                <div class="event-view-selected-roster-header">
                                    <img src="{% static 'images/roleIcons/healer.png' %}" alt="Healer Icon" class="event-view-role-icon">
                                    <span>Healer</span>
                                    <span class="event-view-selected-roster-healercount"></span>
                                </div>
                            </div>
                            <div class="event-view-selected-roster-mdps" id="mdps">
                                <div class="event-view-selected-roster-header">
                                    <img src="{% static 'images/roleIcons/mdps.png' %}" alt="Melee Icon" class="event-view-role-icon">
                                    <span>Melee</span>
                                    <span class="event-view-selected-roster-mdpscount"></span>
                                </div>
                            </div>
                            <div class="event-view-selected-roster-rdps" id="rdps">
                                <div class="event-view-selected-roster-header">
                                    <img src="{% static 'images/roleIcons/rdps.png' %}" alt="Ranged Icon" class="event-view-role-icon">
                                    <span>Ranged</span>
                                    <span class="event-view-selected-roster-rdpscount"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="event-view-benched-roster">

                        <!-- START Template buttons -->
                        {% if user.is_staff %}
                        <div class="event-view-template-buttons">
                        <div class="event-view-save-template template-button ane-btn ane-btn-success">
                            Save as Template
                        </div>
                        {% if is_past_event%}
                        </div>
                        {% else %}
                        <div class="event-view-load-template template-button ane-btn ane-btn-info">
                            Load a Template
                        </div>
                        </div>
                        {% endif %}
                        {% endif %}
                        <!-- END Template buttons -->

                        <div class="event-view-benched-roster-header">
                            Bench
                        </div>
                        <table class="event-view-benched-roster-table">
                                <tr>
                                    <th>No Boss Selected</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                        </table>
                    </div>
                    {% if user.is_staff %}
                        {% if late_users|length > 0 or declined_users|length > 0 %}
                        <div class="event-view-missing-users">
                            {% if late_users|length > 0 %}
                            <div class="event-view-late-users mb-3 d-flex flex-column">
                                <h4 class="mb-1">Late Users:</h4>
                                {% for late_user in late_users %}
                                    <span>{{ late_user.user }} -- <span class="text-warning">{{ late_user.minutes_late }}</span></span>
                                {% endfor %}
                            </div>
                            {% endif %}
                            {% if declined_users|length > 0 %}
                            <div class="event-view-declined-users mt-3 d-flex flex-column">
                                <h4 class="mb-1">Declined Users:</h4>
                                {% for declined_user in declined_users %}
                                    <span>{{declined_user.0}}<span class="text-secondary"> - {{declined_user.1}} </span></span>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        const static_url = "{% get_static_prefix %}"
        const is_past_event = {{is_past_event|yesno:"true,false"}}
        const user_is_absent = {{user_is_absent|yesno:"true,false"}}
        let is_staff = {{user.is_staff|yesno:"true,false"}}
        let boss_list = {{bosses|safe}}
        let roster = {{roster_dict|safe}}
        let css_classes = {{css_classes|safe}}
        let boss_rosters = {{selected_roster|safe}}
        let user_event_summary = {{user_char_selected|safe}}
    </script>

    <script>
        $(document).ready(()=> {
            // Toggle boss list overlay
            const bossListOverlayBtn = $('.event-view-header-bossname-dropdown')
            const bossList = $('.event-view-boss-list')
            $(bossListOverlayBtn).on('click',()=>$(bossList).toggleClass('active'))
            const bossListBtns = $('.boss-view-btn');
            $(bossListBtns).on('click',()=>$(bossList).removeClass('active'))
            $('.close-bosslist-overlay').on('click',()=>$(bossList).removeClass('active'))
            //$('.boss-detail-container').on('click',()=>$(bossList).removeClass('active'))
        })
    </script>
    <script src="{% static '/js/event_view_utils.js' %}"></script>
    <script src="{% static '/js/great_vault.js' %}"></script>
    <script src="{% static '/js/event_view.js' %}"></script>
    <script src="{% static '/js/modal.js' %}"></script>
    <script src="{% static '/js/roster_template.js' %}"></script>
    


    {% endblock %}

</body>


</html>
