<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}

<head>
    <meta charset="UTF-8">
    <title>Events Details</title>
</head>
<body>

{% block content %}
    <div class="event-view-container">
        <div class="event-view-signups">
            <h2>Sign Ups</h2>
            <a href="{% url 'opt-out' event.date %}" class="btn btn-danger">Sign Off</a><a href="{% url 'opt-in' event.date %}" class="btn btn-success">Sign In</a>
            <ul>
                {% for player in roster %}
                    <li>{{ player }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="event-view-boss-container">
            <div class="event-view-boss-list">
                </div>
                <div class="event-view-boss-info">
                </div>
            </div>
        </div>

            <div class="temp-invis-div">
            </div>
        </div>
    </div>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        let boss_list = {{itemtest | safe}}
        let roster = {{rostertest | safe}}
    </script>
    <script src="{% static '/js/event_view.js' %}"></script>


{% endblock %}




</body>


</html>