<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}

<head>
    <meta charset="UTF-8">
    <title>Events Details</title>
</head>

<body>

{% block content %}
    <div class="event-view-container">
        <div class="event-view-signups">
            <h2>Roster</h2>
            <ul>
                {% for player in roster %}
                    <li>{{ player }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="event-view-boss-container">
            <div class="event-view-boss-list">
            </div>
            <div class="event-view-boss-info">
                <table class="event-view-available-roster-table">
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                </table>
            </div>
        </div>
        <div class="temp-invis-div">
        </div>
    </div>

    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        let boss_list = {{bosses | safe}}
        let roster = {{roster_dict | safe}}
        let css_classes = {{css_classes | safe}}
        let static_url = "{% get_static_prefix %}"
    </script>
    <script src="{% static '/js/event_view.js' %}"></script>




{% endblock %}

</body>


</html>