<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}

<head>
    <meta charset="UTF-8">
    <title>Events</title>
</head>
<body>

{% block content %}
<div class="events-list-container">
    <div class="page-header"><span class="material-icons" style="vertical-align:-5px;">event_available</span><span class="page-header-text">Events</span></div>
    {% if user.is_staff %}
        <button type="button" onclick="location.href='{% url 'add-event' %}'" class="btn btn-primary">Add Event</button>
    {% endif %}

    <div class="event-list">
    <ul>
        {% for event in event_list %}
            <div class="event-per-date">
                <li><a href="{% url 'events-details' event.date %}" class="btn btn-outline-success">{{ event.date }}</a>
                    {% if status == 'absent' %}
                        <a href="{% url 'opt-in' event.date %}" class="btn btn-success" id="opt-in">Attend</a>
                        {% else %}
                        <a href="{% url 'opt-out' event.date %}" class="btn btn-danger" id="opt-out">Decline</a>
                    {% endif %}
                    {% if user.is_staff %}
                        <a href="{% url 'delete-event' event.date %}" class="btn btn-outline-danger btn-sm">Delete</a>
                    {% endif %}
                </li>
            </div>
        {% endfor %}
    </ul>
    </div>
</div>

{% endblock %}


</body>
</html>