<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}

<head>
    <meta charset="UTF-8">
    <title>Events</title>
</head>
<body>

{% block content %}

    <h1>Events</h1>
    {% if user.is_staff %}
        <button type="button" onclick="location.href='{% url 'add-event' %}'" class="btn btn-primary">Add Event</button>
    {% endif %}

    <div class="event-list">
    <ul>
        {% csrf_token %}
        {% for event in event_list %}
            <div class="event-per-date">
                <li><a href="{% url 'events-details' event.date %}" class="btn btn-outline-success">{{ event.date }}</a>
                    {% if event.status == 'absent' %}
                        <a href="{% url 'opt-in' event.date %}" class="btn btn-success" id="opt-in">Attend</a>
                        {% else %}
                        <a href="{% url 'opt-out' event.date %}" class="btn btn-danger" id="opt-out">Decline</a>
                    {% endif %}


                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#exampleModal" data-source="test">
                        Late
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <form method="POST">
                                            <label for="min-late-text">Minutes late:</label>
                                            <input type="text" id="min-late-text" name="minutes_late">
                                            <input type="hidden" name="date" value="{{ event }}">
                                        </form>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if user.is_staff %}
                        <a href="{% url 'delete-event' event.date %}" class="btn btn-outline-danger btn-sm">Delete</a>
                    {% endif %}
                </li>
            </div>
        {% endfor %}
    </ul>
    </div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $('#exampleModal').on('show.bs.modal', function (event) {
        console.log("MODAL OPENED")
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-title').text('New message to ' + recipient)
        modal.find('.modal-body input').val(recipient)
    })
</script>



{% endblock %}


</body>
</html>