<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}

<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>
{% block content %}
{% load static %}
<!-- Modal -->
<div class="input-modal" id="events-late-modal">
    <div class="input-modal-container">
        <div class="input-modal-header">
            <span id="input-modal-header-span">Report Late for <span id="input-modal-header-date">{{upcoming_event.date}}</span></span>
        </div>

        <select class="input-modal-dropdown" id="events-modal-mins-late-dropdown">
            <option value="15m" selected="selected">15min</option>
            <option value="30m">30m</option>
            <option value="45m">45m</option>
            <option value="1h">1h</option>
            <option value="1h15m">1h15m</option>
            <option value="1h30m">1h30m</option>
            <option value="After Break">After Break</option>
        </select>
        <div class="input-modal-action-btns">
            <span class="input-modal-btn close-btn" id="late-modal-close">Cancel</span>
            <span class="input-modal-btn delete-btn" id="late-modal-delete">Delete</span>
            <span class="input-modal-btn submit-btn" id="late-modal-submit">Submit</span>
        </div>
    </div>
</div>
<div class="home-container">
    {% load account %}
    <div class="home-content-container">
        <div class="home-account">
            <div class="home-account-header">
                <span class="home-header">Account</span>
            </div>
            {% if request.user.is_authenticated %}
            <div class="home-sync-bnet">
                <span>{{ social_user }}</br></span>
                <a class="ane-btn ane-btn-info rebtn" style="max-width: 200px;margin:auto;padding:.5rem 0;" href="{% url 'sync-bnet' %}">Re-Sync Bnet Data</a>
                <a class="ane-btn ane-btn-info rebtn" style="max-width: 200px;margin:auto;padding:.5rem 0;margin-top:1rem;" href="{% url 'boss-wishes' %}">Boss Wishes</a>
            </div>
            {% else %}
            <div class="home-not-logged-in">
                <span>Not logged in</span>
            </div>
            {% endif %}
            {% if user.is_staff %}
            <div class="home-staff-options" style="margin-top:1rem;">
                <span class="home-staff-options-header">Officer Options</span>
                <div class="home-update-roster" >
                    <a class="ane-btn ane-btn-info rebtn" style="max-width: 200px;margin:auto;padding:.5rem 0;" href="{% url 'update-roster' %}">Update Roster</a>
                </div>
            </div>
            {% endif %}
        </div>

        <div class="home-upcoming-event-container">
            <div class="home-upcoming-event-header">
                <span class="home-header">Upcoming Event</span>
            </div>
            <li class="event-list-container">
            {% if upcoming_event %}
                <div class="event-list-date {{upcoming_event.status}}" id="{{upcoming_event}}">
                <a href="{% url 'events-details' upcoming_event.date %}" class=""><p>{{ upcoming_event.date|date:'M j' }}</p><p>{{ upcoming_event.date|date:'Y' }}</p></a>
                </div>
                <!-- Kinda messy, should find a better way to set the initial state -->
                {% if upcoming_event.status == 'absent' %}
                <div class="event-list-user-options absent" id="{{upcoming_event}}">
                    {% if request.user.is_authenticated %}
                    <a onclick="attend_raid(this)" class="event-list-opt-in event-list-btn" id="{{upcoming_event}}">Attend</a>
                    {% else %}
                    <a href={% url 'login-user-button' %} style="border:none;">
                    <button type="button">
                        Login for more options
                    </button>
                    </a>
                    {% endif %}
                </div>
                <div class="event-list-user-options present disabled" id="{{upcoming_event}}">
                    {% if request.user.is_authenticated %}
                        <a onclick="confirm_decline_raid(this)" class="event-list-opt-out event-list-btn" id="{{upcoming_event}}">Decline</a>
                        <button type="button" id="{{upcoming_event}}" class="events_modal_open_btn event-list-btn" >
                            Late
                        </button>
                        {% else %}
                        <a href={% url 'login-user-button' %} style="border:none;">
                            <button type="button">
                                Login for more options
                            </button>
                        </a>
                    {% endif %}
                </div>

                {% else %}

                <div class="event-list-user-options absent disabled" id="{{upcoming_event}}">
                    {% if request.user.is_authenticated %}
                    <a onclick="attend_raid(this)" class="event-list-opt-in event-list-btn" id="{{upcoming_event}}">Attend</a>
                    {% else %}
                    <a href={% url 'login-user-button' %} style="border:none;">
                    <button type="button">
                        Login for more options
                    </button>
                    </a>
                    {% endif %}
                </div>

                <div class="event-list-user-options present" id="{{upcoming_event}}">
                    {% if request.user.is_authenticated %}
                        <a onclick="confirm_decline_raid(this)" class="event-list-opt-out event-list-btn" id="{{upcoming_event}}">Decline</a>
                        <button type="button" id="{{upcoming_event}}" class="events_modal_open_btn event-list-btn" >
                            Late
                        </button>
                        {% else %}
                        <a href={% url 'login-user-button' %} style="border:none;">
                            <button type="button">
                                Login for more options
                            </button>
                        </a>
                    {% endif %}
                </div>
                {% endif %}



                {% else %}
                <div style="margin:auto;">
                    <span>There are no upcoming events</span>
                </div>
            {% endif %}
            </li>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static '/js/modal.js' %}"></script>
{% endblock %}

</body>
</html>
