<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}

<head>
    <meta charset="UTF-8">
    <title>Roster</title>
</head>

<body>
    {% block content %}


    <div class="roster-container">
        <h1>Guild Roster</h1>
        <div class="roster-grid">
            {% for class, display_class in playable_classes.items %}
            <div class="roster-class-col {{ display_class }}">
                <div class="roster-class-col-header">
                    {{ display_class }}
                </div>

                <div class="roster-class-col-content">
                    {% for char in roster %}
                    {% if char.playable_class == display_class %}
                    <p>{{ char.name }}</p>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
            <div class="roster-view unsorted">
                {% for char in roster %}
                {% if char.playable_class == None %}
                <p>{{ char.name }}</p>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    {% endblock %}

</body>

</html>