<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}

<head>
    <meta charset="UTF-8">
    <title>Roster</title>
</head>

<body>
    {% block content %}
    {% load static %}
    {% comment %} <img src="{% static 'images/bossImages/Sepulcher/SepulcherBG.jpg' %}" class="bg-image"> {% endcomment %}
    <div class="roster-container">
{% comment %}         <div class="page-header">
            <span class="page-header-text">Guild Roster</span>
            <span class="material-icons" style="vertical-align:-10px; margin-left:5px;">groups</span>
        </div> {% endcomment %}
        <div class="roster-grid">
            {% for display_class, css_class in playable_classes.items %}
            <div class="roster-class-col">
                <div class="roster-class-col-header {{ css_class }}">
                    <div class="roster-class-icon">
                        {% with 'images/classIcons/'|add:css_class|add:'.png' as class_icon_path %}
                        <img src="{% static class_icon_path %}" alt="Logo">
                        {% endwith %}
                    </div>
                    {{ display_class }}
                </div>

                <div class="roster-class-col-content {{ class }}">
                    {% for char in roster %}
                    {% if char.playable_class == display_class %}
                    <p>{{ char.name }}</p>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
            <div class="roster-view unsorted">
                {% for char in roster %}
                {% if char.playable_class == None %}
                <p><b>Character has no class saved in db</b><br> {{ char.name }}</p>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    {% endblock %}

</body>

</html>